body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(100px auto);
    margin: 20px;
    border: 1px solid black;
    padding-bottom: 1em;
}
/* styles for the header */
header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1 / 4;
    grid-row: 1;
    border-bottom: 1px solid black;
}

header>h1 {
    font-family: 'Fruktur', cursive;
    display: inline;
    text-align: center;
    font-size: 300%;
    align-self: start;
}

header>input {
    font-size: 200%;
    border-radius: 20px;
    width: 100px;
    height: 60px;
}

#start, #reset {
    align-self: center;
    justify-self: center;
}

/* styles for the main content */
main {
    display:grid;
    grid-template-columns: 1fr 1.2fr 1fr;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    justify-items: center;
}
h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 250%;
    border-bottom: 3px solid black;
}
#factor1 {
    display: block;
    text-align: right;
    font-size: 600%;
}
#operator {
    display: block;
    text-align: right;
    font-size: 600%;
    border-bottom: 3px solid black;
}
#factor1 {
    text-align: right;
}

#main_timer, #score {
    display: block;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 300%;
}

#problem_timer {
    display: block;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 500%;
}
#container {
    justify-content: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding-left: 5em;
    padding-right: 5em;
}
#response {
    display: inline;
    margin: 0 auto;
    border-radius: 15px;
    padding-bottom: .2em;
    font-size: 250%;
    width: 2em;
    margin-bottom: .5em;
    margin-top: .5em;
}

#reset_highscore {
    width: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 2em;
    padding: 1em;
    border-radius: 20px;
    font-size: 80%;
}

#enter{
    display: inline-block;
    margin-left: 30%;
    margin-bottom: 2em;
    padding: 1em;
    border-radius: 20px;
    font-size: 100%;
}

main p {
    margin: 0 auto;
    text-align: center;
}
p {
    font-family: 'Irish Grover', cursive; ;
    font-size: 300%;
    font-weight: bold;
}

/* Styles for the message */

.incorrect {
    display: block;
    font-size: 200%;
    color: red;
    margin: .3em auto;
    text-align: center;
}
.correct {
    display: block;
    font-size: 200%;
    color:green;
    margin: .3em auto;
    text-align: center;
}


/* styles for the footer */
footer {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    padding-top: 1em;
    border-top: 1px solid black;
}

footer>p {
    display: inline;
    font-size: 1.25em;
    margin-left: 2em;
}

#email {
    float: right;
    margin: 0;
    padding: 0;
    margin-right: 2em;
}
