
body {
    display: grid;
    background-image: linear-gradient( #7CB6DB 80%,  #DBDA67);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(100px auto);
    margin: 20px;
    border: 5px solid black;
    border-radius: 10px;
    padding-bottom: 1em;
}
/* styles for the header */
header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1 / 4;
    grid-row: 1;
    border-bottom: 3px solid black;
    background: linear-gradient(0.75turn, #7CB6DB, #c3d4b5,  #7CB6DB);
}

header>h1 {
    font-family: 'Fruktur', cursive;
    display: inline;
    text-align: center;
    font-size: 300%;
}

header>input {
    font-size: 200%;
    border-radius: 20px;
    width: 100px;
    height: 60px;
    align-self: center;
    justify-self: center;
    background: green;
    color: white;
    border: 2px solid black;
    box-shadow: 5px 5px 10px black;

}

input:hover {
    border: 2px solid rgb(216, 216, 12);
}
input:disabled {
    background: gray;
    color: black;
    pointer-events: none;
}


/* styles for the main content */
main {
    display:grid;
    grid-template-columns: 1fr 1.2fr 1fr;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    justify-items: center;
}
h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 250%;
    border-bottom: 2px solid black;
}
#factor1 {
    display: block;
    text-align: right;
    font-size: 600%;

}
#operator {
    display: block;
    text-align: right;
    font-size: 600%;
    border-bottom: 3px solid black;
}

#main_timer, #score, #highscore, #player{
    color: white;
    display: block;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 500%;
    padding-bottom:.5em;
}

#highscore, #player {
    padding-bottom: 0;
    font-size: 300%;
    color:rgb(217, 255, 0);
}

#problem_timer {
    display: block;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    color:white;
    font-size: 500%;
}


#container {
    justify-content: center;
    border-left: 2.5px solid black;
    border-right: 2.5px solid black;
    padding-left: 5em;
    padding-right: 5em;
}
#response {
    display: inline;
    margin-left: 60%;
    border-radius: 15px;
    padding-bottom: .2em;
    font-size: 250%;
    width: 2em;
    margin-top: .5em;
}

/* styles for the buttons */
#reset_highscore {
    width: auto;
    display: block;
    margin: 0 auto;
    padding: .5em;
    border-radius: 20px;
    font-size: 120%;
    background: green;
    color: white;
    border: 2px solid black;
    box-shadow: 5px 5px 10px black; 
}

#enter{
    display: inline-block;
    margin-left: 30%;
    padding: 1em;
    border-radius: 20px;
    font-size: 100%;
}

main p {
    margin: 0 auto;
    text-align: center;
}
p {
    font-family: 'Irish Grover', cursive; ;
    font-size: 300%;
    font-weight: bold;
}

/* Styles for the message */

.incorrect {
    display: block;
    font-family: 'Bebas Neue', cursive;
    font-size: 300%;
    color: red;
    margin: .3em auto;
    text-align: center;
}
.correct {
    display: block;
    font-family: 'Bebas Neue', cursive;
    font-size: 300%;
    color:green;
    margin: .3em auto;
    text-align: center;
}




/* styles for the footer */
footer {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    padding-top: 1em;
    border-top: 3px solid black;
}

footer>p {
    display: inline;
    font-size: 1.25em;
    margin-left: 2em;
}

#email {
    float: right;
    margin: 0;
    padding: 0;
    margin-right: 2em;
}
